<div class="container m-t-1 m-b-1">
  <%= link_to product_version_suites_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to product_version_suite_path(@product,@version,@suite), class: 'btn btn-primary pull-md-right' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing suite</h1>
</div>

<%= render 'form' %>
