<div class="container m-t-1 m-b-1">
  <%= link_to marking_rules_path, class: 'btn btn-primary pull-xs-right m-x-auto' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New marking_rule</h1>
</div>

<%= render 'form' %>
