<!--http://www.havlena.net/en/programming/d3stackedbar-d3js-responsive-stacked-bar-with-legend-tooltip-and-transitions/-->
<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% graph_hash['passed'] = 0 %>
<% graph_hash['failed'] = 0 %>
<% @build.report_links.each do |rlink| %>
  <% if rlink.result %>
    <% graph_hash['passed'] += 1 %>
  <% else %>
    <% graph_hash['failed'] += 1 %>
  <% end %>
<% end %>

<!--field :report_id, type: String-->
<!--field :result, type: Mongoid::Boolean-->
<!--field :error, type: String-->
<!--field :comment, type: String-->
<!--field :investigation_result , type: String-->
<!--field :suite, type: String-->
<!--field :reruns, type: Integer-->

<div class="container m-t-1 m-b-1">
  <%= link_to product_version_builds_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_version_build_path(@product,@version,@build), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <h1>Show build</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @build.name %></dd>

  <dt>Description:</dt>
  <dd><%= @build.description %></dd>

</dl>
