<div class="container m-t-1 m-b-1">
  <%= link_to investigation_results_path, class: 'btn btn-primary pull-xs-right m-x-auto m-l-1' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New investigation_result</h1>
</div>

<%= render 'form' %>
