<div class="page-header">
  <h1>Static#reports</h1>
</div>
<p>Products:<%= Product.all.count %></p>
<p>Versions:<%= Version.all.count %></p>
<p>Builds:<%= Build.all.count %></p>
<p>Reports:<%= Report.all.count %></p>