    <% prefix = "" %>
    <% if @report.logs_location.include?("-rerun") %>
      <% prefix = "-rerun" %>
    <% end %>

    <% if @report.broken == "true" %>
    <% diff_file = @report.logs_location + @report.test_case.name.gsub(".spt","") +prefix+ ".diff" %>
    <!--<b>Diff: </b>True<br>-->
    <!--<b>Diff file link as is:</b> <a href="<%= diff_file %>"><%= diff_file %></a><br>-->

<tr><td><div class="text-xs-right"><strong>Diff file:</strong></div></td>
<td><div class="text-xs-left">
<a href="<%= diff_file = @report.logs_location + @report.test_case.name.gsub(".spt","") +prefix+ ".diff" %>">show me</a>
</div></td></tr>

    <% end %>