<div class="container m-t-1 m-b-1">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-primary pull-xs-right m-x-auto' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <%% end %>
  <h1>New <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
