/*
*= require_self
*= require signin
*= require profile
*= require customScroll
*= require chat
*= require slider
*= require versions
*= require products
*= require builds
*= require main
*/


.header {
  box-shadow: 0px 2px 1px 0px rgba(102, 93, 93, 0.15);
  border-radius: 0px !important;
}

.body {
  background-color: #f7f7f7;
}

.main-content{
  margin-top: 60px;
}



/*--------------------
Chat controls
--------------------*/

.chat-btn {
    position:fixed;
    bottom:5px;
    right:5px;
    height:40px;
    background-color: red;
    width:40px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.blinking {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

/*--------------------
END OF Chat controls
--------------------*/

.badge {
    position: absolute;
    background: red;
    height:1rem;
    top:0px;
    right:0px;
    width:1rem;
    text-align: center;
    line-height: 1rem;;
    font-size: .8rem;
    border-radius: 50%;
}

.btn-circle, .btn-circle-3d {
    width: 30px !important;
    height: 30px !important;
    text-align: center  !important;
    padding: 6px 0  !important;
    font-size: 12px  !important;
    line-height: 1.42  !important;
    border-radius: 15px !important;
    display: -ms-flexbox  !important;
    display: flex  !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.btn-primary.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #245580;
  -moz-box-shadow:    0px 0px 3px 1px #245580;
  box-shadow:         0px 0px 3px 1px #245580;
}

.btn-info.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #28a4c9;
  -moz-box-shadow:    0px 0px 3px 1px #28a4c9;
  box-shadow:         0px 0px 3px 1px #28a4c9;
}

.btn-success.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #3e8f3e;
  -moz-box-shadow:    0px 0px 3px 1px #3e8f3e;
  box-shadow:         0px 0px 3px 1px #3e8f3e;
}

.btn-danger.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #b92c28;
  -moz-box-shadow:    0px 0px 3px 1px #b92c28;
  box-shadow:         0px 0px 3px 1px #b92c28;
}

.btn-warning.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #e38d13;
  -moz-box-shadow:    0px 0px 3px 1px #e38d13;
  box-shadow:         0px 0px 3px 1px #e38d13;
}

.btn-default.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
}


