#main {
  float: left;
  width: 175px;
}

#sidebar {
  float: right;
  width: 30px;
}

#sequence {
  width: 300px;
  height: 35px;
}

#legend {
  padding: 5px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 150;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 75px;
  left: 73px;
  width: 30px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 1.75em;
}