.step {
    border-bottom: 1px solid rgb(221,221,221) !important;
}

.steps-header {
    border-bottom: 1px solid rgb(221,221,221) !important;
    font-weight: bold;
    font-size: 105%; 
}

.img-err-screen {
 max-height: 200px;
 max-width: 100%;
}