.step {
    border-bottom: 1px solid rgb(221,221,221) !important;
}

.steps-header {
    border-bottom: 1px solid rgb(221,221,221) !important;
    font-weight: bold;
    font-size: 105%; 
}

.img-err-screen {
 max-height: 200px;
 max-width: 100%;
}

#largeImgPanel {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(100,100,100, 0.5);
}

#largeImgPanel img {
    margin-top: 100px;
    min-height:70%;
    max-height:80%;
    max-width: 90% !important;
}