.slider{
    height: calc(100% - 54px);
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    z-index: 500;
    background-color: white;
}
.slider-content{
    
}
.slider-changer{
    z-index: 499;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width:50px;
    height: calc(100% - 54px);
    background-color: #b1c6e6;
    -webkit-box-shadow: -4px 0px 6px 1px rgba(166,166,166,0.5);
    -moz-box-shadow: -4px 0px 6px 1px rgba(166,166,166,0.5);
    box-shadow: -4px 0px 6px 1px rgba(166,166,166,0.5);
}

.closebtn {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 36px;
    width:50px;
    height: 100%;
    background-color: #b1c6e6;
    -webkit-box-shadow: 4px 0px 6px 1px rgba(166,166,166,0.5);
    -moz-box-shadow: 4px 0px 6px 1px rgba(166,166,166,0.5);
    box-shadow: 4px 0px 6px 1px rgba(166,166,166,0.5);
    
}
