table.big-mama {
    word-wrap: break-word;
}

.big-mama tr {
    border-bottom: 1px !important;
    border-bottom-color: black !important;
    max-width:30px !important; 
}

.big-mama td {
    position:relative;
    text-align: left !important;
    padding: 5px !important;  
    border-bottom: 1px !important;
    border-bottom-color: black !important;
    width:20px !important;
}

.big-mama th {
    text-align: left !important;
    padding: 5px !important;  
    border-bottom: 1px !important;
    border-bottom-color: black !important;
    width:10px !important;
}

.big-mama th .build-head {
    text-align: left !important;
    padding: 5px !important;  
    border-bottom: 1px !important;
    border-bottom-color: black !important;
    width:40px !important;
}

.report-icon {
    height: 35px !important;
    width: 35px !important;
}

.investigated-code {
    z-index: 300 !important;
    position: absolute;
    top: 10px;
    left: 7px;
    height: 35px !important;
    width: 35px !important;
    margin: 0px;
    padding: 0px;
    padding-top: 5px !important;
    font-size: 10px;
}

.investigated-bg {
    z-index: 99 !important;
    position: absolute;
    left:0%;
    height: 35px !important;
    width: 35px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.text-cut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}