table.big-mama {
    border-collapse: collapse;
}

.big-mama td {
    position:relative;
    text-align: left !important;
    line-height: 25px !important;
    padding:0px !important;
    margin: 0px !important;
    min-width:30px !important;
    
}

.big-mama tr {
    text-align: left !important;
    line-height: 25px !important;
    padding:0px !important;
    margin: 0px !important;
    border-bottom: 1px !important;
    border-bottom-color: rgb(221,221,221) !important;
}

.big-mama th .build-head {
    text-align: left !important;
    padding: 5px !important;  
    border-bottom: 1px solid rgb(221,221,221) !important;
    width:40px !important;
}

.report-icon {
    height: 35px !important;
    width: 35px !important;
}

.investigated-code {
    z-index: 300 !important;
    position: absolute;
    top: 1px;
    left: 3px;
    height: 25px !important;
    width: 25px !important;
    margin: 0px;
    padding: 0px;
    padding-top: 0px !important;
    font-size: 10px;
    cursor: pointer;
}

.investigated-bg {
    z-index: 99 !important;
    left:0%;
    height: 25px !important;
    width: 25px !important;
    margin: 0px !important;
    padding: 0px !important;
    cursor: pointer;
}

.text-cut  {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.first-col {
    max-width: 350px !important;
    min-width: 150px !important;
}