<div class="container m-t-1 m-b-1">
  <%= link_to edit_product_version_category_path(@product,@version,@category), class: 'btn btn-primary pull-md-right' do %>
    Edit
  <% end %>
  <h1><%= @category.name %></h1>
</div>

<% @number_of_builds = 10 %>
<% @categories = Category.where(id: @category.id) %>

<%= render partial: "versions/table", locals: {version: @version, product: @product, number_of_builds: @number_of_builds, categories: @categories } %>
      

