
<div class="report-icon" id="<%= report.class == Report ? report._id : report.report_id %>">
    <% if report.result %>
        <img class="investigated-bg" src="/icons/Passed.png" />
    <% else %>
        <% if report.investigation_result.nil?%>
            <img class="investigated-bg" src="/icons/Failed.png" />
        <% else %>
            <div class="investigated-code"><b><%= report.investigation_result.class == InvestigationResult ? report.investigation_result.code : report.investigation_result %></b></div>
            <img class="investigated-bg" src="/icons/Warning.png" />
        <% end %>
    <% end %>
</div>
